a {
  /* comment belongs to `bottom` */
  /* comment belongs to `bottom` */
  bottom: 15px; /* shared-line comment belongs to `bottom` */
}

header {
	background-color: #24292e;

	& h1 {
		margin: 0;
		/* all: initial; */
	}

	& a {
		border-bottom: dotted #aaa 2px;
		font-weight: bold;
		color: #fff;
	}
}